.btn {
  display: 'inline-block';
  font-weight: 400;
  text-align: 'center';
  white-space: 'nowrap';
  vertical-align: 'middle';
  user-select: 'none';
  border: 1px solid transparent;
  position: 'absolute';
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,
              border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #1b702e;
    border-color: #1b702e;
  }
}

.btn-success {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-segment {
  z-index: 10000;
}
